header .lang .ar {
    margin-right: 8px;
}
header .mobile_nav .sidenav {
	left: -290px;
}
header .mobile_nav .sidenav.over_mob
{
	left: 0;
}
header .mobile_nav .list > span
{
	left: 7px;
}
header .mobile_nav .sidenav .closebtn {
	right: 20px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option
{
    text-align: left;
}
.categories .bootstrap-select>.dropdown-toggle:after
{
	right: 16px;
}
header .search_cat .searchbox
{
	border-left: 1px solid #e6e6e6;
}
header .search_icon
{
    right: 7px;
}
header .recomend .fa-user-circle,header .recomend .fa-shopping-basket
{
	margin-right: 8px;
}
header .cart .shopping .fa span
{
    left: -7px;
}
header .my_account
{
	margin-right: 13px;
}
header .cart
{
	margin-left: 13px;
}
.sidenav .mob_cat .mob_menu 
{
    padding-left: 70px;
}
.sidenav .sub_cat_menu 
{
    padding-left: 50px;
}
.down_nav .title > .fa
{
	margin-right: 12px;
}
.down_nav .demo .sub:after
{
	content: "\f105";
	right: 18px;
}
.demo .sub_list
{
	left: 255px;
}
header .nav_bar
{
	margin-left: 16px;
}
.pro .info .price .past
{
	margin-right: 8px;
}
.join .form-group .check
{
	right: 6px;
}



@media (max-width: 1199px) and (min-width: 992px)
{
	.demo .sub_list
	{
		left: 205px;
	}
}


@media(max-width:991px)
{
	.join .form-group .check
	{
		right: 0;
	}
}